@font-face {
    font-family: "Stretch Pro";
    src: url('/static/fonts/StretchPro.otf') format('opentype');
  }
  
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: url('/static/css/backgrounds/home.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;  
}

h1 {
    font-family: "Stretch Pro";
    color: white;
    font-size: 100px;
    position: fixed;  
    top: 50%;        
    left: 50%;      
    transform: translate(-50%, -50%);
}


