{% extends 'tempo_app/base.html' %}
{% load static %}

<!-- Block for page specific css links -->
{% block csslinks%}
<link rel="stylesheet" href="{% static 'css/artist.css' %}">
{% endblock %}

<!-- Block for page content -->
{% block content %}  


<h1>{{artist}}</h1>

<div class="topContent">
    <div class="card">
        <h3>Top tracks</h3>
        <div class="card-content">
            {% for song in songs %}
                <h5>{{song}}</h5>
            {% endfor %}
        </div>
    </div>
    <img src="{{image_url}}" alt="artist image">
</div>

<div class="card">
    <h3>Merch</h3>
</div>


{% endblock %}