{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tempo</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/landing.css' %}">
</head>

<body>
    <!-- <div class="video-container">
        <video autoplay loop muted>
          <source src="{% static 'backgrounds/tempo-speed.mp4' %}" type="video/mp4">
        </video>
    </div> -->
    <h1>Tempo</h1>
</body>

</html>