{% extends 'tempo_app/base.html' %}

<!-- Block for page content -->
{% block content %}  

    <p>Player</p>
    <!-- https://developer.spotify.com/documentation/web-playback-sdk/howtos/web-app-player -->
    <script src="https://sdk.scdn.co/spotify-player.js"></script>

    <button id="togglePlay">Toggle Play</button>

    <script>
        // https://developer.spotify.com/documentation/web-playback-sdk/howtos/web-app-player
        window.onSpotifyWebPlaybackSDKReady = () => {
            const token = '{{access_token}}';
            const player = new Spotify.Player({
            name: 'Tempo Player',
            getOAuthToken: cb => { cb(token); },
            volume: 0.2
            });
            player.connect().then(success => {
                if (success) {
                    console.log('The Web Playback SDK successfully connected to Spotify!');
                }
            })
            player.addListener('ready', ({ device_id }) => {
                console.log('Connected with Device ID', device_id);
            });
            document.getElementById('togglePlay').onclick = function() {
                player.togglePlay();
            }
        };
    </script>
{% endblock %}